.App-Wrapper {
  display: grid;
  grid-template-areas: 
    'h h'
    'n c';
  grid-template-rows: 100px 9fr;
  grid-template-columns: 250px  15fr;
}
.header {
  grid-area: h;
}
.navbar {
  grid-area: n;
}
.content {
  grid-area: c;
}

