.wrapp{
    background-color: blue;
    height: 1000px;
}
.camera{
    position: absolute;
    top: 40%;
    left: 40%;
    
}
.img{
    height: 100px;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 55%;
    margin-right: -80%;
}
.perv{
    font-size: 50px;
    font-family: 'Monoton', cursive;
    justify-content: center;
    align-items: top;
}